{% extends 'base.html.twig' %}

{% block title %}Gestion des status{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
    	{# message add flash à l'ajout d'un bien #}
		{% for message in app.flashes('app_statut_add') %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{# message add flash à la modification
		{% for message in app.flashes('app_statut_edit') %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{# message add flash à la supression 
		{% for message in app.flashes('app_statut_delete') %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %} #}
        <a  href="{{ path('app_statut_add') }}" class="mr-1 btn btn-warning">
            <i class="bi-add me-1"></i>
                Ajouter un statut
        </a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Couleur</th>
                <th scope="col">Gestion</th>
                </tr>
            </thead>
            <tbody>
            
            {% for statut in status %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ statut.name }}</td>
                    <td><div class="btn btn-{{ statut.colors.codeBootstrap }} btn-sm" role="alert">
                        {{ statut.colors.name }}
                        </div>
                    </td>
                    <td><a href="{{ path('app_statut_edit', {id : statut.id }) }}" class="btn btn-outline-primary mr-1">
                            <i class="bi-pen me-1"></i>
                            Modifier
                        </a>
                        <a href="{{ path('app_statut_delete', {id : statut.id }) }}" class="mr-1 btn btn-outline-danger" onclick="confirm('Voulez vous vraiment suprimer ce statut?') || event.preventDefault()">
                            <i class="bi-trash me-1"></i>
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>


{% endblock %}
