{% extends 'base.html.twig' %}

{% block title %}Accueil de l'agence{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
	{# message add flash à l'ajout d'un bien #}
		{% for message in app.flashes('success_add') %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{# message add flash à la modification #}
		{% for message in app.flashes('success_edit') %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{# message add flash à la supression #}
		{% for message in app.flashes('success_delete') %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<a href="{{ path('add_product') }}" class="mb-3 btn btn-warning">Ajouter un bien</a>
			{# {{ dump(biens) }} #}
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				{% for bien in biens %}
					<div class="col mb-5">
						<div
							class="card h-100">
							<!-- Product image-->
							<img
							class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
							<!-- Product details-->
							<div class="card-body p-4">
								<div
									class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">{{ bien.title }}</h5>
									<!-- Product price-->
									{{ bien.price|number_format(0, ',', ' ') }}
									<p>créé le {{ bien.createdAt|date("d/m/Y à H:i:s") }}</p>
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto" href="{{ path('app_product', {id : bien.id }) }}">Voir le bien</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
