{# version optimisée #}
{# {% for message in app.flashes( flashName ) %}
	<div class="alert alert-{{ flashColor }} alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %} #}

{# message add flash à l'envoit d'un message #}
	{% for message in app.flashes('success_message_contact') %}
		<div class="alert alert-success alert-dismissible fade show" role="alert"> {{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{# message add flash à l'ajout d'un user #}
{% for message in app.flashes('success_add_user') %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{# message add flash à lla vérification d'un email #}
{% for message in app.flashes('verify_email_error') %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{# message add flash à l'ajout d'un bien #}
{% for message in app.flashes('success_add') %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{# message add flash à la modification #}
{% for message in app.flashes('success_edit') %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{# message add flash à la supression #}
{% for message in app.flashes('success_delete') %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{# message add flash à l'ajout d'un statut #}
{% for message in app.flashes('app_statut_add') %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
