<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="{{ path('app_home') }}">Immo Agency</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_contact_form') }}">Nous contacter</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						id="navbarDropdown"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">Admin</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{ path('app_dashboard')}}">Gestion des biens</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('add_product')}}">Ajouter un bien</a>
						</li>
						</li>
						<li><hr class="dropdown-divider"/></li>
						<li>
							<a class="dropdown-item" href="{{ path('app_status') }}">Gestion des statuts</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_statut_add') }}">Ajouter un statut</a>
						</li>
					</ul>
				</li>
				{% endif %}
			</ul>
			<form class="d-flex">
			{% if app.user %} 
			<a class="btn btn-outline-dark" href="{{ path('app_logout') }}">
					<i class="bi-login-fill me-1"></i>
					Se déconnecter
			</a>
			{% else %} 
			<a class="btn btn-light " href="{{ path('app_login') }}">
					<i class="bi-logout-fill me-1"></i>
					Se connecter
			</a>
			<a class="btn btn-outline-dark" href="{{ path('app_register') }}">
					<i class="bi-logout-fill me-1"></i>
					S'inscrire
			</a>
			{% endif %}
			</form>
		</div>
	</div>
</nav>
