{% extends 'base.html.twig' %}

{% block title %}mon produit{% endblock %}
{% block header %}  {% endblock %}
{% block body %}
 {# le design est géré dans twig.yalm avec bootstrap #}
<section class="py-5">
	<div class="container">
    <h1>{{ formTitle }}</h1>
    {{ form_start(formBien) }}
        {{ form_widget(formBien) }}
        <button type="submit" class="btn btn-primary">{{ formSubmitLabel }}</button>
    {{ form_end(formBien) }}
    </div>
</section>
{% endblock %}