<!DOCTYPE html>
<html lang="en">
        <body>
        <h1>Demande de {{ contact.name }} {{  contact.lastName  }}</h1>
        <p>Email : {{ contact.email }}</p>
        <p>Sujet : {{ contact.object }}</p>
        <p>Message : {{ contact.message|raw }}</p>
        <div> 
        
        </div>
    </body>
</html>

